#profile-picture{
    width: 190px;
    height: 300px;
    padding: 40px 10px;
    float: right;
}

.jumbotron {
    background-color: plum;
    height: 90px;
    
}
.contact-links {
    display: flex;
    justify-content:space-around;
    align-items:center;
}

h1{
    text-align: center;
}

.card-text-skills{
    text-align: center;
    font-weight: bold;
    
}

#project-image-2{
    height: 450px;
}

#project-image-3{
    height: 450px;
}

#project-image-4{
    height: 450px;
}